.flexrow{
    display: flex;
    flex-direction: row;
    
}
.tableTip{
    margin-top: 0.1rem;
    width: 30%;
    color: #fff;
}
.tableTipTitle{
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    color: #cdddf7;
    text-align: center;
    border: 1px solid #0e94ea;
    background: rgba(4, 152, 245, 0.2);
    color: #cdddf7;
    font-size: 0.16rem;
}
.tableTipcent{
    width: 100%;
    border: 1px solid #0e94ea;
}
.textareacent{
    color: #fff;
    width: 100%;
    background: rgba(14, 148, 234, 0.1);
    box-sizing: border-box;
    border: none;
    height: auto;
    margin: auto;
    color: #cdddf7;
    font-size: 0.16rem;

    display: flex;
    flex-direction: column;
    align-content: left;
    justify-items: center;
    text-align: left;
    letter-spacing: 1px;
}

textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #fff;
  }
textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    content:"line@ \A line#";
    color: #fff;
  }
textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
  }
textarea::-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #fff;
   
  }
  .textareaBox{
      width: 85%;
      height: auto;
  }
  


.backTip{
    box-sizing: border-box;
    width: 85%;
    height: 0.6rem;
    margin: auto;
    background-color: rgba(14, 148, 234, 0.);
    border: 1px solid #0E94EA;
    color: white;
    font-size: 0.18rem;
    padding-left: 0.2rem;
    display: flex;
    flex-direction: column;
    align-content: left;
    justify-items: center;
    text-align: left;
}
.backData {
    box-sizing: border-box;
    width: 15%;

    text-align: center;
    margin: auto;

    color: white;
    font-size: 0.18rem;
}
.textsInput{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: auto;
    background-color: rgba(1, 5, 7, 0.2);
    border: 1px solid #0E94EA;
    color: white;
    font-size: 0.18rem;
    padding-left: 0.2rem;
    display: flex;
    flex-direction: column;
    align-content: left;
    justify-items: center;
    text-align: left;
    letter-spacing: 2px;

}


/** 初始化 **/


html,
body {
    width: 100%;
    height: 100%;
}
.background {
    background: #000d4a url(../img/medicne/bg.jpg) center top no-repeat no-repeat;
    background-size: cover;
    color: #666;
    font-size: .1rem;
    padding: 0;
    margin: 0;
}
/* 加载 */

.loading {
    position: fixed;
    left: 0;
    top: 0;
    font-size: 18px;
    z-index: 100000000;
    width: 100%;
    height: 100%;
    background: #1a1a1c;
    text-align: center;
}

.loadbox {
    position: absolute;
    width: 160px;
    height: 150px;
    color: #aaa;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -75px;
}

.loadbox img {
    margin: 10px auto;
    display: block;
    width: 40px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
p,
blockquote,
th,
td,
form,
pre {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #333;
}

body {

    text-rendering: geometricPrecision;
    font-family: "Microsoft YaHei";
    background: rgb(0, 24, 104) ;
}

/* .back-yc {
    background-color: rgb(20, 32, 48);
} */
.cli_dialog_div{
    display: none;
}

a:active,
a:hover {
    outline: 0
}

img {
    display: inline-block;
    border: none;
    vertical-align: middle;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3 {
    font-size: 14px;
    font-weight: 400;
}

h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    out-line: none;
    color: #fff;
}

.p-title {
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding-top: 0.15rem;
}

/* 导航 */
.index_nav ul li {
    font-size: 1em;
    color: #fff;
    opacity: 0.8;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    text-shadow: 0 6px 8px #00225b;
    font-size: 14px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    letter-spacing: 1.5px;
}

.nav_active {
    border-bottom: 4px solid #4b8df8;
    box-sizing: border-box;
}


.index_nav ul .l_left {
    margin-left: 3%
}

.l_left {
    float: left;
}

.index_nav ul .r_right {
    margin-right: 3%
}

.index_nav ul li:hover {
    opacity: 1
}

.r_right {
    float: right
}

/* flow 的比较文字 */
.text1 {
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    color: #fff
}

.text2 {
    font-family: DINPro-Bold;
    font-size: 26px;
    margin-bottom: 10px;
    color: #eee;
}

.text3 {
    margin-top: 0;
    margin-bottom: 1em;
    font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
}

.text4 {
    font-size: 12px;
    color: #999;
    margin-right: 5px;
    cursor: default;
    touch-action: manipulation;
}

.text5 {
    background-image: linear-gradient(129deg, #ff5700, #ff5800);
    color: #fff;
    border-radius: 10px;
    font-size: 10px;
    padding: 3px 8px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
}

/* commodity的三个显示 */
.t_left_box {
    position: relative;
    width: 90%;
    height: auto;
    display: inline-block;
    text-align: center;
}

.t_left_box-in {
    position: relative;
    width: 90%;
    height: auto;
    display: inline-block;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.t_left_box-in-tip {
    position: relative;
    width: 90%;
    height: auto;
    display: inline-block;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.1rem 0;
    background-color: rgba(14, 148, 234, 0.8);
    border: 1px solid #0E94EA;
}
.t_left_box-in-tip-commodity{
    position: relative;
    width: 90%;
    height: auto;
    display: inline-block;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 0.1rem 0;
    background-color: rgba(14, 148, 234, 0.8);
    border: 1px solid #0E94EA;

}

.t_left_box-compete {
    position: relative;
    width: 3.0rem;
    height: 5.5rem;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.t_l_line {
    position: absolute;
    top: 0;
    left: 0;
}

.t_r_line {
    position: absolute;
    bottom: 0;
    right: 0;
}

.t_nav {
    width: 100%;
    height: 100%;
}

.t_nav li {
    display: inline-block;
    width: 30%;
    height: 100%;
    text-align: center;
    position: relative;
}

.t_nav li span {
    font-size: 0.16rem;
    color: #1AA1FD;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 25%;
}

.t_nav li h1 {
    font-size: 0.30rem;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
}

.t_nav li i {
    width: 1px;
    height: 100%;
    position: absolute;
    right: -0.2rem;
    /* background: url('../img/sper.png') no-repeat; */
    background-size: 100% 100%;
}

.t_mbox {
    width: 5rem;
    height: 1.28rem;
    position: relative;
    margin: 0 0.3rem 0 0.3rem;
    margin-top: 0.35rem;
}

.t_mbox-in {
    width: 2.41rem;
    height: 1.08rem;
    position: relative;
    margin: 0 0.2rem 0 0.2rem;

}

.t_cbox {
    background: #1cbbb4;
}

.t_gbox {
    background: #39b54a;
}

.t_ybox {
    background: #F6A645;
}

.t_obox {
    background: #8dc63f;
}

.t_rbox {
    background: #D9523F;
}

.t_orbox {
    background: #f37b1d
}

.t_bbox {
    background: #0081ff;
}

.t_cbox i {
    background: url(../img/icon/yuyue.png) no-repeat;
    background-size: 100% 100%;
}

.t_gbox i {
    background: url(../img/icon/quxiao.png) no-repeat;
    background-size: 100% 100%;
}

.t_ybox i {
    background: url(../img/icon/pingjia.png) no-repeat;
    background-size: 100% 100%;
}

.t_obox i {
    background: url(../img/icon/hao.png) no-repeat;
    background-size: 100% 100%;
}

.t_rbox i {
    background: url(../img/icon/cha.png) no-repeat;
    background-size: 100% 100%;
}

.t_orbox i {
    background: url(../img/icon/jing.png) no-repeat;
    background-size: 100% 100%;
}

.t_mbox i {
    display: inline-block;
    width: 0.46rem;
    height: 0.48rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    margin: auto;
}

.t_mbox h2 {
    font-size: 0.28rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
}

.t_mbox_shop {
    width: 5rem;
    height: auto;
    position: relative;
    margin: 0 0.3rem 0 0.3rem;
    padding: 0.1rem 0 0 0;

}

.flexshop {
    display: flex;
    flex-direction: row;
}

.t_mbox_shop div {
    color: #fff;
    font-size: 0.2rem;
}

.shopName {
    color: #fff;
    font-size: 0.18;
    width: 3rem;
    margin-left: 0.1rem;
    line-height: 1.5;

}

.t_mbox span {
    font-size: 0.2rem;
    color: #fff;
    position: absolute;
    top: 24%;
    left: 48%;
}


.t_mbox-in i {
    display: inline-block;
    width: 0.46rem;
    height: 0.48rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
    margin: auto;
}

.t_mbox-in h2 {
    font-size: 0.20rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 37%;
}

.t_mbox-in span {
    font-size: 0.19rem;
    color: #fff;
    position: absolute;
    top: 24%;
    left: 33%;
    white-space: nowrap;
}

/* 边框 */
.data-box1 {
    border: 2px solid #032d60;
    -webkit-box-shadow: #07417a 0 0 10px;
    -moz-box-shadow: #07417a 0 0 10px;
    box-shadow: inset 0 0 30px #07417a;
    position: relative;
    height: auto;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 0.2rem;
}

.data-box-flow {
    border: 2px solid #032d60;
    -webkit-box-shadow: #07417a 0 0 5px;
    -moz-box-shadow: #07417a 0 0 5px;
    box-shadow: inset 0 0 15px #07417a;
    position: relative;
    height: 400px;
    width: 45%;
    margin: 0 auto;
}

.data-box-flow-1 {
    border: 2px solid #032d60;

    position: relative;
    height: 320px;
    width: 45%;
    margin: 0 auto;
}

.data-box-flow-box {
    border: 2px solid #032d60;
    -webkit-box-shadow: #07417a 0 0 10px;
    -moz-box-shadow: #07417a 0 0 10px;
    box-shadow: inset 0 0 30px #07417a;
    position: relative;
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.margin-bottom {
    margin-bottom: 50px;
    margin-top: 70px;
}

.margin-bottom-1 {
    margin-bottom: 50px;

}

/*小标题*/
.data-title-left,
.data-title-right {
    color: #105eda;
    font-family: "微软雅黑";
    font-size: 20px;

}

.data-title {
    background-color: rgba(14, 148, 234, 0.2);
    width: 246px;
    margin: -18px auto 0 auto;
    color: #83c7e3;
    font-size: 20px;
}

.data-title span {
    text-align: center;
    width: 230px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1.5px;
}

/* 边框四角 */

.topL {
    width: 20px;
    height: 20px;
    border-top-width: 2px;
    border-top-color: #26c6f0;
    border-top-style: solid;
    border-left-width: 2px;
    border-left-color: #26c6f0;
    border-left-style: solid;
    position: absolute;
    top: -2px;
    left: -2px
}

.topR {
    width: 20px;
    height: 20px;
    border-top-width: 2px;
    border-top-color: #26c6f0;
    border-top-style: solid;
    border-right-width: 2px;
    border-right-color: #26c6f0;
    border-right-style: solid;
    position: absolute;
    top: -2px;
    right: -2px
}

.bottomL {
    width: 20px;
    height: 20px;
    border-bottom-width: 2px;
    border-bottom-color: #26c6f0;
    border-bottom-style: solid;
    border-left-width: 2px;
    border-left-color: #26c6f0;
    border-left-style: solid;
    position: absolute;
    bottom: -2px;
    left: -2px
}

.bottomR {
    width: 20px;
    height: 20px;
    border-bottom-width: 2px;
    border-bottom-color: #26c6f0;
    border-bottom-style: solid;
    border-right-width: 2px;
    border-right-color: #26c6f0;
    border-right-style: solid;
    position: absolute;
    bottom: -2px;
    right: -2px
}


.margin-bottom-30 {
    margin-bottom: 30px;
}

.flew-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
    height: auto;
}

.flew-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    height: auto;
}

.flew-row-sp {
    display: flex;


    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;

    height: auto;
}

/* 边框阴影 */

.shadow-warp {
    position: relative;
    color: #fff;
    text-align: left;
    font-size: 16px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shadow-warp::before,
.shadow-warp::after {
	position: absolute;
	content: "";
	top: 20px;
	bottom: 30px;
	left: 20px;
	width: 50%;
	box-shadow: 0 30px 20px rgba(0, 0, 0, 0.2);
	transform: rotate(-3deg);
	z-index: -1;
}

.shadow-warp::after {
	right: 20px;
	left: auto;
	transform: rotate(3deg);
}
.text-bi{
    color: #fff;
    padding: 0.05rem 0.1rem 0.05rem 0.1rem
}
/* 布局 */
.flex_detail {
  
 
}



.margin-m {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-l {
    margin-top: 30px;
    margin-bottom: 30px;
}

.active {
    color: white;
    font-size: 0.16rem;
}

.pieChart {
    width: 100%;
    height: 380px;
    position: relative;
    top: 5px;
}

/** 滚动条 **/

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-button:vertical {
    display: none;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background-color: rgba(14, 148, 234, 0.2);
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(0, 0, 0, .35);
}

::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgba(0, 0, 0, .38);
}

.margin-top {
    margin-top: 40px;
}
.margin-top-sm {
    margin-top: 20px;
}
.margin-bottom-sm {
    margin-bottom: 20px;
}

/*下拉框*/

.select {
    width: 2.1rem;
    height: 0.8rem;
    position: relative;
    font-size: 0.18rem;
    color: #cdddf7;
    outline: none;
}

.select p {}

.select-div {
    box-sizing: border-box;
    width: 1.6rem;
    height: 0.4rem;
    line-height: 0.4rem;
    border: 1px solid #0E94EA;
    background: url(../img/arrow.png) 95% center no-repeat;
    padding-left: 10px;
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    color: #cdddf7;
}

.select-ul {
    position: absolute;
    width: 1.6rem;
    top: 0.5rem;
    left: 0;
    z-index: 10;
    display: none;
}

.select-ul.company {
    height: 1.2rem;
    overflow-y: auto;
}

.select-ul>li {
    height: 0.4rem;
    line-height: 0.4rem;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: rgba(14, 148, 234, 0.2);
    cursor: default;
    color: #cdddf7;
}

.select-ul>li.active,
.select-ul>li:hover {
    color: white;
    background: #0e94eb;
}

.select-ul>li {
    width: 1.6rem;
}

.data-box {
    width: 4.9rem;
    position: absolute;
    margin: auto;
    top: 0.42rem;
    bottom: 0;
    left: 0;
    right: 0;
}

.chart-box {
    position: absolute;
    top: 0.42rem;
    bottom: 0;
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    height: auto;
}

.chart-box-title {
    position: relative;
    top: 0.22rem;
    bottom: 0;
    width: 95%;
    margin: auto;
    left: 0;
    right: 0;
    height: auto;
}

.chart-box2 {
    position: relative;
    top: 3.3rem;
    bottom: 0;
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    height: auto;
}

.container-flex {
    width: 100%;
    background-size: 100% 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    outline: none;
}

.box-left {
    width: 30%;
    height: 100%;
    background: url(../img/line_img.png) top right repeat-y;
}

.left-top {
    width: 100%;
    height: 20.4%;
    position: relative;
}

.left-top>.current-num {
    width: 90%;
    height: 1.8rem;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../img/border_bg01.png) top left no-repeat;
    background-size: 100% 100%;
}

.current-num>div {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    background: url(../img/title_bg01.png) center center no-repeat;
    font-size: 0.2rem;
    color: #0e94ea;
    background-size: 1.8rem 0.25rem;
    font-weight: 900;
}

.current-num>p {
    font-size: 0.46rem;
    text-align: center;
    color: white;
}

.left-center {
    width: 100%;
    height: 37%;
    position: relative;
}

.pie-chart>div {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
}

.pie-data {
    height: 2.25rem;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    overflow-y: auto;
    padding-right: 5px;
}

.pie-data p {
    width: 100%;
    height: 0.45rem;
    line-height: 0.45rem;
    font-size: 0.2rem;
    color: #cdddf7;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    cursor: default;
}

.pie-data p>span {
    width: 0;
    flex-grow: 1;
    margin: 0 5px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pie-data p>.pie-number {
    flex-grow: 2;
}

.legend {
    display: inline-block;
    width: 0.2rem;
    height: 0.16rem;
    line-height: 0.2rem;
    border-radius: 2px;
    background: white;
}

.left-bottom {
    width: 100%;
    height: 42.6%;
    position: relative;
}

.filter-con {
    width: 100%;
    height: 0.4rem;
    position: absolute;
    float: left;
    top: 10px;
    left: 0;
    display: none;
    flex-flow: row nowrap;
    justify-content: space-between;
    /*    visibility: hidden;*/
    z-index: 999;
}

.pop-filter {
    width: 5.2rem;
    top: 1.1rem;
    left: 0.5rem;
}

.pop-filters {
    width: 5.2rem;
    top: 1.1rem;
    left: 0.5rem;
}

.gd-map {
    width: 100%;
    height: 90%;
}

.box-center {
    width: 100%;
    height: 100%;
    position: relative;
    top: -20px;
}

.center-top {
    width: 100%;
    height: 9%;
    position: relative;
    top: -45px;
    left: 0;
    background: url(../img/title_border.png) bottom center no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.center-top>h1 {
    color: #cdddf7;
    font-size: 0.35rem;
    font-weight: 900;
    letter-spacing: 5px;
}

.center-center {
    width: 100%;
    height: 15.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.weather-box {
    width: 4.1rem;
    height: 1.1rem;
    border: 1px solid #0E94EA;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.weather-box>.data {
    width: 2.19rem;
    height: 0.65rem;
    border-right: 2px solid #cdddf7;
}

.data>p {
    font-size: 0.16rem;
    margin: 0 5px;
    color: #cdddf7;
    text-align: center;
    margin: 0;
}

.data>p>span {
    margin: 0 5px;
}

.data>p.time {
    font-size: 0.42rem;
    height: 0.42rem;
    line-height: 0.42rem;
}

.weather-box>.weather {
    width: 1.8rem;
    height: 0.65rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
}

.weather>img {
    height: 100%;
}

.weather>div {
    width: 0.8rem;
    height: 100%;
}

.weather>div>p {
    font-size: 0.12rem;
    color: #cdddf7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 0.24rem;
    line-height: 0.24rem;
}

.weather>div>p.active {
    color: white;
    font-size: 0.16rem;
}

.select-box {
    width: 3.4rem;
    height: 1.1rem;
    box-sizing: border-box;
    position: relative;

}

.adddiv {
    width: 100px;
    height: 100px;
    background: red;
}

.select-pop {
    width: 1.6rem;
}

.select-box>ul,
.select-pop>ul {
    width: 1.6rem;
    height: 0.4rem;
    font-size: 0.18rem;
    overflow: hidden;
    border: 1px solid #0E94EA;
    position: absolute;
    top: 0;
    left: 0;
}

.select-box>ul>li,
.select-pop>ul>li {
    width: 0.8rem;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    float: left;
    color: #cdddf7;
    cursor: pointer;
}

.select-box>ul>li.active,
.select-pop>ul>li.active {
    background: #0e94eb;
    color: white;
}

.select-box>div {
    width: 100%;
    height: 0.4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.center-center>img {
    width: 0.13rem;
    height: 1.1rem;
    margin: 0 0.2rem;
}

.center-bottom {
    width: 100%;
    height: 75.9%;
    position: relative;
    top: 10px;
}

.center-bottom>.city-data {
    width: 8.05rem;
    height: 100%;
    margin: auto;
    position: absolute;
}

.city-box {
    width: 1.8rem;
    /*    height: 1.9rem;*/
    border: 1px solid #0e94ea;
    position: absolute;
    top: 0;
    left: 0;
}

.city-box>p {
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    border-bottom: 1px solid #0e94ea;
    font-size: 0.18rem;
    color: #cdddf7;
    box-sizing: border-box;
}

.city-box>p>span {
    color: #d09d26;
}

.city-btn {
    width: 100%;
    /*    height: 0.5rem;*/
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.city-btn>li,
.city-div>li {
    font-size: 0.14rem;
    height: 0.2rem;
    line-height: 0.2rem;
    float: left;
    color: white;
    margin: 0.02rem 0;
    padding: 0 0.03rem;
    cursor: pointer;
}

.city-btn>li.active,
.city-btn>li:hover,
.city-div>li.active,
.city-div>li:hover {
    background: #0e94ea;
}

.city-div {
    width: 100%;
    height: 1rem;
    display: flex;
    flex-flow: row wrap;
    /*    align-items: center;*/
    justify-content: flex-start;
    overflow-y: auto;
}

.city-div>li {
    padding: 0 0.05rem;
    text-align: center;
}

.ranking-box {
    width: 2.5rem;
    border: 1px solid #0e94ea;
    position: absolute;
    left: 0;
    bottom: 20px;
    background-color: rgba(14, 148, 235, 0.102);
}

.ranking-box>li {
    width: 100%;
    height: 0.3rem;
    line-height: 0.3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-size: 0.18rem;
    color: rgba(255, 255, 255, .7);
}

.ranking-box>li>span {
    width: 0;
    flex-grow: 1;
    text-align: center;
}

.ranking-box>li>p {
    width: 0;
    flex-grow: 2;
    color: rgba(255, 255, 255, .7);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ranking-box>li:nth-child(2n+1) {
    background: rgba(14, 148, 235, 0.102);
}

.ranking-box>li:first-child {
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.2rem;
    background: rgba(14, 148, 235, 0.8);
}

.ranking-box>li:first-child>p {
    color: white;
}

.box-right {
    width: 32%;
    height: 100%;
    background: url(../img/line_img.png) top left repeat-y;
}

.right-top {
    width: 100%;
    height: 41%;
    box-sizing: border-box;
    padding-top: 0.2rem;
    position: relative;
}

.right-top>.data-box,
.right-top>.chart-box {
    top: 1rem;
}

.table1 {
    font-size: 0.16rem;
    border: 1px solid #0e94ea;
    border-top: none;
    border-right: none;
    margin: auto;
}

.table1 tr {
    border-top: 1px solid #0e94ea;
    background: rgba(14, 148, 234, 0.1);
}


.table1 tr.bg-color {
    background: rgba(14, 148, 234, 0.2);
}


.table1 tr td {
    border-right: 1px solid #0e94ea;
    height: 0.4rem;
    line-height: 0.4rem;
    color: #cdddf7;
    text-align: center;
}



.table1 tr td.data-table {
    color: #fff;
}

.table1 tr td:nth-child(2n+1) {
    width: 1.2rem;
}

.table1 tr td:nth-child(2n) {
    width: 1.2rem;

}

.table2 {
    font-size: 0.16rem;
    border: 1px solid #0e94ea;
    border-top: none;
    border-right: none;
    margin: auto;
}

.table2 tr {
    border-top: 1px solid #0e94ea;
    background: rgba(14, 148, 234, 0.1);
}

.table2 tr.bg-color {
    background: rgba(14, 148, 234, 0.2);
}

.table2 tr td {
    border-right: 1px solid #0e94ea;
    height: 0.6rem;
    line-height: 0.6rem;
    color: #cdddf7;
    text-align: center;
}

.table2tr td.data-table {
    color: #fff;
}

.table2 tr td:nth-child(2n+1) {
    width: 1.8rem;
}

.table2 tr td:nth-child(2n) {
    width: 2.5rem;
}

.table3 .th {
    background: transparent
}

.table3 tr:nth-child(2n) {
    background: rgba(4, 152, 245, 0.2);
    border-top: 1px dashed rgba(14, 148, 234, .7);
}

.table3 tr td p.edit {
    color: #0e94eb;
    cursor: pointer;
}

.table3 tr td p.edit:hover,
.table3 tr td p.edit.active {
    color: #d09d26;
}

.table3 {
    font-size: 0.16rem;
    border: 1px solid #0e94ea;
    border-top: none;
    margin: 10px auto;
    letter-spacing: 1.5px;
}

.table3 tr {
    border-top: 1px solid #0e94ea;
    background: rgba(14, 148, 234, 0.1);
}

.table3 thead tr {
    background: rgba(14, 148, 234, 0.4);
}

.table3 tr.bg-color {
    background: rgba(14, 148, 234, 0.2);
}

.table3 tr td:nth-child(2n+1),
.table3 tr td:nth-child(2n+1)>p {
    width: 3.1rem;
}

.table3 tr td:nth-child(2n),
.table3 tr td:nth-child(2n)>p {
    width: 3.1rem;
}

.table3 tr td,
.table3 tr th {
    border-right: 1px solid #0e94ea;
    height: 0.4rem;
    line-height: 0.4rem;
    color: #cdddf7;
    text-align: center;
}

.table3 tr td p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #cdddf7;
}

.table3 thead tr th {
    border-right: none;
}

.table-commodity .th {
    background: transparent
}

.table-commodity tr:nth-child(2n) {
    background: rgba(4, 152, 245, 0.2);

}

.table-commodity tr td p.edit {
    color: #0e94eb;
    cursor: pointer;
}

.table-commodity tr td p.edit:hover,
.table-commodity tr td p.edit.active {
    color: #d09d26;
}

.table-commodity {
    font-size: 0.16rem;
    border: 1px solid #0e94ea;
    border-top: none;
    margin: 10px auto;
    letter-spacing: 1.5px;
}

.table-commodity tr {
    border-top: 1px solid #0e94ea;
    background: rgba(14, 148, 234, 0.1);
}

.table-commodity thead tr {
    background: rgba(14, 148, 234, 0.4);
}

.table-commodity tr.bg-color {
    background: rgba(14, 148, 234, 0.2);
}

.table-commodity tr td:nth-child(2),
.table-commodity tr td:nth-child(2)>p {
    width: 3.8rem;
}

.table-commodity tr td,
.table-commodity tr td>p {
    width: 1.2rem;
}

.table-commodity tr td,
.table-commodity tr th {
    border-right: 1px solid #0e94ea;
    height: 0.4rem;
    line-height: 0.4rem;
    color: #cdddf7;
    text-align: center;
}

.table-commodity tr td p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #cdddf7;
}

.table-commodity thead tr th {
    border-right: none;
}


/* commodity 图表左边表格 */
.table-commodity-datail .th {
    background: transparent
}

.table-commodity-datail tr:nth-child(2n) {
    background: rgba(4, 152, 245, 0.2);

}

.table-commodity-datail tr td p.edit {
    color: #0e94eb;
    cursor: pointer;
}

.table-commodity-datail tr td p.edit:hover,
.table-commodity-datail tr td p.edit.active {
    color: #d09d26;
}

.table-commodity-datail {
    font-size: 0.16rem;
    border: 1px solid #0e94ea;
    border-top: none;
    margin: 10px auto;
    letter-spacing: 1.5px;
    margin-bottom: 0.15rem;
}

.table-commodity-datail tr {
    border-top: 1px solid #0e94ea;
    background: rgba(14, 148, 234, 0.1);
}

.table-commodity-datail thead tr {
    background: rgba(14, 148, 234, 0.4);
}

.table-commodity-datail tr.bg-color {
    background: rgba(14, 148, 234, 0.2);
}

.table-commodity-datail tr td:nth-child(1),
.table-commodity-datail tr td:nth-child(1)>p {
    width: 4rem;
}

.table-commodity-datail tr td,
.table-commodity-datail tr td>p {
    width: 1rem;
}

.table-commodity-datail tr td,
.table-commodity-datail tr th {
    border-right: 1px solid #0e94ea;
    height: 0.4rem;
    line-height: 0.4rem;
    color: #cdddf7;
    text-align: center;
}

.table-commodity-datail tr td p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #cdddf7;
}

.table-commodity-datail thead tr th {
    border-right: none;
}


/* 图标线 */
.table-head-1 th:nth-child(1) {
    border-left: 1px solid #0e94ea;
}

.table-head-1 th:nth-child(5) {
    border-left: 1px solid #0e94ea;
}

.table-head-1 th:nth-child(9) {
    border-left: 1px solid #0e94ea;
}

.table-head th:nth-child(7) {
    border-left: 1px solid #0e94ea;
}

.table-head th:nth-child(8) {
    border-left: 1px solid #0e94ea;
}

.table-head th:nth-child(9) {
    border-left: 1px solid #0e94ea;
}

/* 
compate 图表
*/
.table-compate .th {
    background: transparent;


}

.table-compate tr:nth-child(2n) {
    background: rgba(4, 152, 245, 0.2);

}

.table-compate tr td p.edit {
    color: #0e94eb;
    cursor: pointer;
}


.table-compate tr td p.edit:hover,
.table-compate tr td p.edit.active {
    color: #d09d26;
}

.table-compate {
    font-size: 0.16rem;
    border: 1px solid #0e94ea;
    border-top: none;
    margin: 10px auto;
    letter-spacing: 1.5px;
}

.table-compate tr {
    border-top: 1px solid #0e94ea;
    background: rgba(14, 148, 234, 0.1);
}

.table-compate .table-head-1 {
    border-top: 1px dashed #0e94ea;
    border-left: 1px solid #0e94ea;
    background: rgba(14, 148, 234, 0.1);
}

.table-compate thead tr {
    background: rgba(14, 148, 234, 0.4);
}

.table-compate tr.bg-color {
    background: rgba(14, 148, 234, 0.2);
}

.table-compate tr td:nth-child(1),
.table-compate tr td:nth-child(1)>p {
    width: 7rem;
}

.table-compate tr td,
.table-compate tr td>p {
    width: 2rem;
}

.table-compate tr td,
.table-compate tr th {
    border-right: 1px solid #0e94ea;
    height: 0.4rem;
    line-height: 0.4rem;
    color: #cdddf7;
    text-align: center;
}

.table-compate tr td p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #cdddf7;
}

.table-compate thead tr th {
    border-right: none;
}

/* 
shop 图标
*/
.table-shop .th {
    background: transparent
}

.table-shop tr:nth-child(2n) {
    background: rgba(4, 152, 245, 0.2);

}

.table-shop tr td p.edit {
    color: #0e94eb;
    cursor: pointer;
}

.table-shop tr td p.edit:hover,
.table-shop tr td p.edit.active {
    color: #d09d26;
}

.table-shop {
    font-size: 0.16rem;
    border: 1px solid #0e94ea;
    border-top: none;
    margin: 10px auto;
    letter-spacing: 1.5px;
}

.table-shop tr {
    border-top: 1px solid #0e94ea;
    background: rgba(14, 148, 234, 0.1);
}

.table-shop thead tr {
    background: rgba(14, 148, 234, 0.4);
}

.table-shop tr.bg-color {
    background: rgba(14, 148, 234, 0.2);
}

.table-shop tr td:nth-child(2),
.table-shop tr td:nth-child(2)>p {
    width: 4rem;
}

.table-shop tr td:nth-child(1),
.table-shop tr td:nth-child(1)>p {
    width: 2rem;
}

.table-shop tr td,
.table-shop tr td>p {
    width: 3rem;
}

.table-shop tr td,
.table-shop tr th {
    border-right: 1px solid #0e94ea;
    height: 0.4rem;
    line-height: 0.4rem;
    color: #cdddf7;
    text-align: center;
}

.table-shop tr td p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #cdddf7;
}

.table-shop thead tr th {
    border-right: none;
}




/* 主图标 */
.box3_con_right_bot {
    position: relative;
    width: 100%;
    height: 360px;
    top: 5px;
}

.right-center {
    width: 100%;
    height: 29%;
    position: relative;
}

.time-box {
    width: 3.9rem;
    height: 0.4rem;
    position: absolute;
    top: 5px;
    right: 0;
    overflow: hidden;
    z-index: 10;
    display: none;
}

.time-div {
    float: left;
    width: 1.8rem;
    height: 0.4rem;
    position: relative;
}

.time-div.end {
    float: right;
}

.time-div>img {
    width: 0.2rem;
    height: 0.2rem;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.1rem;
}

.time-input {
    width: 1.8rem;
    height: 0.4rem;
    box-sizing: border-box;
    border: 1px solid #0E94EA;
    font-size: 0.16rem;
    background: rgba(14, 148, 234, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    color: #cdddf7;
    padding-left: 10px;
}

.data-box>.data-number {
    width: 4.9rem;
    height: 2.3rem;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: url(../img/bg_img03.png) top left no-repeat; */
    background-size: 100% 100%;
    color: #cdddf7;
    font-size: 0.4rem;
    line-height: 2.3rem;
    text-align: center;
}

.right-bottom {
    width: 100%;
    height: 30%;
    position: relative;
}

.data-box>.settings-box {
    box-sizing: border-box;
    width: 4.9rem;
    height: 2.38rem;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 148, 234, 0.2);
    border: 1px solid #0E94EA;
    color: white;
    font-size: 0.18rem;
    overflow: hidden;
}

.settings-box>p {
    color: #cdddf7;
    margin-bottom: 0.46rem;
    padding-left: 0.4rem;
    height: 0.22rem;
    line-height: 0.22rem;
}

.settings-box>p:first-child {
    padding-top: 0.46rem;
}

.settings-box>div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 0.2rem;
}

.settings-box>div>p {
    width: 2.9rem;
    font-size: 0.14rem;
    padding: 0;
    color: #cdddf7;
}

.settings-box>p>img {
    width: 0.2rem;
    height: 0.22rem;
    margin-right: 5px;
}

.settings-box>p>span,
.settings-box>div>p>span {
    color: white;
    margin: 0 0.15rem;
}

.settings-box>div>img {
    height: 0.2rem;
    margin: 0 0.05rem;
}

.config {
    text-decoration: underline;
    cursor: pointer;
}

.settings-box>form label {
    color: #cdddf7;
    margin-right: 10px;
}

.four-f {
    letter-spacing: 0.045rem;
}

.settings-box>form input {
    width: 1.2rem;
    height: 0.4rem;
    border: 1px solid #0E94EA;
    background: rgba(14, 148, 235, 0.2);
    color: white;
    padding-left: 0.1rem;
}

.settings-box>form>div {
    width: 94%;
    margin: auto;
}

.set-ter {
    height: 0.64rem;
    line-height: 0.64rem;
}

.set-time {
    height: 0.4rem;
    width: 3.56rem;
    padding-left: 1.2rem;
}

.set-time>.time-div,
.set-time>.time-div>input {
    width: 1.6rem;
}

.end-1 {
    margin-left: 0.1rem;
}

.set-peo {
    height: 0.70rem;
    line-height: 0.7rem;
}

.settings-box>.set-btn {
    height: 0.64rem;
    line-height: 0.64rem;
    text-align: center;
    padding-top: 0;
}

.set-btn>button {
    width: 0.9rem;
    height: 0.4rem;
    border: 1px solid #0E94EA;
    background: rgba(14, 148, 235, 0.2);
    color: white;
    margin: 0 5px;
    cursor: pointer;
}

.settings-box>.close-icon {
    display: block;
    width: 0.16rem;
    height: 0.16rem;
    position: absolute;
    top: 5px;
    right: 5px;
    background: url(../img/close_icon.png) top left no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.settings-box>.kf {
    padding-top: 0.8rem;
    line-height: 0.3rem;
}

.title-box {
    width: 90%;
    height: 0.42rem;
    background: url(../img/box_title.png) top left no-repeat;
    background-size: 100% 100%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    
    white-space: nowrap;
    align-items: center;
    position: relative;
}

.title-box-flow {
    width: 100%;
    height: 0.42rem;
    background: url(../img/box_title.png) top left no-repeat;
    background-size: 100% 100%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
}

.title-box>h6,
.title-box>p {
    font-size: 0.2rem;
    color: #fff !important;
    height: 0.42rem;
    line-height: 0.42rem;
    margin-left: 0.4rem;
    letter-spacing: 2px;
}

.title-box>p>span {
    cursor: pointer;
    color: rgba(255, 255, 255, .6);
}

.title-box>p>span.active {
    color: rgba(255, 255, 255, 1);
}

.line-img {
    width: 1px;
    height: 0.2rem;
    margin: 0 10px;
}

.title-box>.line-img {
    position: absolute;
    right: 1.3rem;
}

.title-box>button {
    font-size: 0.18rem;
    border: none;
    background: transparent;
    color: #cdddf7;
    height: 0.42rem;
    position: absolute;
    right: 0.6rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
}

.title-box>button:hover {
    color: white;
}

.title-box>button>img {
    width: 0.2rem;
    height: 0.2rem;
    margin-right: 5px;
}

.unit {
    font-size: 0.16rem;
    height: 0.4rem;
    color: #cdddf7;
    text-align: right;
    padding-right: 0.3rem;
    line-height: 0.4rem;
}

.container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
}

.pop-up {
    width: 70%;
    height: 80%;
    /* background: url(../img/popUP_bg.png) top left no-repeat; */
    background-size: 100% 100%;
    position: absolute;
    padding: 0.2rem 0.5rem;
    visibility: hidden;
}

.pop-up .title {
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.3rem;
    color: white;
    padding-left: 0.2rem;
    background: url(../img/title_line.png) center left no-repeat;
}

.pop-up .pie-chart {
    width: 76%;
    height: 80%;
}

.pop-up .pie-data {
    width: 80%;
}

.pop-chart {
    width: 80%;
    top: 1.5rem;
    left: 2.3rem;
    bottom: 0.5rem;
}

.pop-charts {
    width: 60%;
    top: 0.45rem;
    left: 2.3rem;
    bottom: 0.5rem;
}

.pop-up .pie-data p {
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.28rem;
}

.pop-up .pie-data .legend {
    width: 0.38rem;
    height: 0.28rem;
    vertical-align: middle;
}

.close-pop {
    display: inline-block;
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
    width: 13px;
    height: 0.9rem;
    background: url(../img/close.png) center left no-repeat;
    background-size: 13px 13px;
    cursor: pointer;
    z-index: 99;
}

.pop-data {
    width: 2rem;
    position: absolute;
    top: 2.25rem;
    bottom: 0.5rem;
    left: 0.5rem;
}

.cont-div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2rem 0.5rem;
    visibility: hidden;
}

.pop-data-box {
    width: 60%;
    height: 50%;
    /* background: url(../img/bg_img04.png) top left no-repeat; */
    background-size: 100% 100%;
    position: absolute;
    margin: 0 auto;
    bottom: 20%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cdddf7;
    font-size: 0.88rem;
}

.pop-data-box p {
    color: #cdddf7;
}

.btn-class {
    height: 0.4rem;
    padding: 0 15px;
    border: 1px solid #0E94EA;
    font-size: 0.18rem;
    background: transparent;
    color: #cdddf7;
    position: absolute;
    top: 1.7rem;
    left: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-class>img {
    width: 0.18rem;
    height: 0.18rem;
}

.enlarge-btn {
    width: 0.36rem;
    height: 0.36rem;
    background: url(../img/menu_btn.png) top left no-repeat;
    background-size: 100% 100%;
    float: left;
    border: none;
    cursor: pointer;
}

.enlarge-btn:hover,
.enlarge-btn.active {
    background: url(../img/menu_on.png) top left no-repeat;
    background-size: 100% 100%;
}

.enlarge-box {
    height: 0.36rem;
    position: absolute;
    bottom: 20px;
    left: 3rem;
    overflow: hidden;
}

.modal-btn {
    float: left;
    display: none;
}

.modal-btn>li {
    float: left;
    width: 0.36rem;
    height: 0.36rem;
    line-height: 0.36rem;
    box-sizing: border-box;
    border: 1px solid #0E94EA;
    border-left: none;
    color: #cdddf7;
    font-size: 0.18rem;
    text-align: center;
    cursor: default;
    position: relative;
}

.modal-btn>li>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.36rem;
    height: 0.36rem;
    background: url(../img/fangda.png) top left no-repeat;
    background-size: 100% 100%;
    display: none;
}

.modal-btn>li:hover>div {
    display: block;
}

.pop-time .time-box {
    top: 1.28rem;
    left: -3rem;
}


.set-div {
    width: 9.8rem;
    height: 88%;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: auto;
    font-size: 0.18rem;
}

.four-f {
    letter-spacing: 0.045rem;
}

.set-box {
    height: 0.63rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.set-box>label {
    color: #cdddf7;
    margin-right: 10px;
    float: left;
}

.set-box>input,
.pages-div>input {
    width: 0.8rem;
    height: 0.4rem;
    border: 1px solid #0E94EA;
    background: rgba(14, 148, 235, 0.2);
    color: white;
    padding-left: 0.1rem;
}

.set-box>.input-edit {
    width: 4.3rem;
}

.pages-div>input {
    background: transparent;
    margin: 0 0.2rem;
}

.set-box>input:nth-child(2n+1) {
    margin: 0 0.07rem;
}

.set-box>button,
.pages-div>button {
    width: 0.36rem;
    height: 0.36rem;
    line-height: 0.38rem;
    text-align: center;
    background-color: transparent;
    border: 1px solid #0E94EA;
    color: white;
    padding-left: 0.1rem;
    cursor: pointer;
}

.plus {
    margin: 0 0.07rem;
    background: url(../img/plus.png) center center no-repeat;
    background-size: 0.18rem;
}

.mineus {
    background: url(../img/jian.png) center center no-repeat;
    background-size: 0.18rem;
    margin-left: 0.1rem;
}

.set-box>.add-btn {
    width: 1rem;
    margin-left: 0.4rem;
    height: 0.4rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.add-btn>img {
    width: 0.18rem;
}


.pages-div {
    height: 0.63rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.prev {
    background: url(../img/prev.png) center center no-repeat;
    background-size: 0.12rem;
}

.next {
    background: url(../img/next.png) center center no-repeat;
    background-size: 0.12rem;
}

.pages-div p {
    color: white;
    margin: 0 0.1rem;
}

.pages-div>.skip {
    width: 0.7rem;
    height: 0.4rem;
    line-height: 0.4rem;
}

@media screen and (max-height: 670px) {
    .right-top {
        height: 47%;
    }

    .right-center {
        height: 23%;
    }

    .data-box>.data-number {
        height: 1.65rem;
        line-height: 1.65rem;
    }

    .data-box>.settings-box {
        height: 2rem;
    }
}

.edit-div {
    width: 6.5rem;
    height: 2.9rem;
    font-size: 0.18rem;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 0.4rem;
    border: 1px solid #0e94eb;
    background-color: rgb(20, 32, 48);
    box-shadow: 0 0 10px #cdddf7;
    box-sizing: border-box;
}

.edit-div h4 {
    font-size: 0.2rem;
    color: white;
    height: 0.65rem;
    line-height: 0.65rem;
}

.edit-box {
    justify-content: flex-end;
}

.edit-box>button {
    width: 0.92rem;
    height: 0.4rem;
    line-height: 0.4rem;
    margin: 0 0.17rem;
}




.tishi {
    position: absolute;
    margin: auto;
    top: 0.4rem;
    left: 0;
    right: 0;
    width: 4.8rem;
    text-align: center;
    height: 0.4rem;
    line-height: 0.4rem;
    border: 1px solid #d09d26;
    background: rgba(239, 176, 19, 0.2);
    font-size: 0.16rem;
    color: white;
    display: none;
}

@media screen and (max-height: 610px) {
    .right-top {
        height: 49%
    }

    .right-center {
        height: 21%;
    }

    .data-box>.data-number {
        height: 1.4rem;
        line-height: 1.4rem;
    }

    .data-box>.settings-box {
        height: 1.6rem;
    }

    .pop-data .ranking-box {
        height: 1.9rem;
        overflow-y: auto;
    }
}